<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ProcessID</key>
		<string>0</string>
		<key>ProcessName</key>
		<string>kernel_task</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>1</string>
		<key>ProcessName</key>
		<string>launchd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>12</string>
		<key>ProcessName</key>
		<string>UserEventAgent</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>13</string>
		<key>ProcessName</key>
		<string>wifid</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>15</string>
		<key>ProcessName</key>
		<string>ptpd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>17</string>
		<key>ProcessName</key>
		<string>syslogd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>19</string>
		<key>ProcessName</key>
		<string>powerd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>26</string>
		<key>ProcessName</key>
		<string>lockdownd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>33</string>
		<key>ProcessName</key>
		<string>mediaremoted</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>34</string>
		<key>ProcessName</key>
		<string>mDNSResponder</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>35</string>
		<key>ProcessName</key>
		<string>locationd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>37</string>
		<key>ProcessName</key>
		<string>imagent</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>40</string>
		<key>ProcessName</key>
		<string>fseventsd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>41</string>
		<key>ProcessName</key>
		<string>fairplayd.N81</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>44</string>
		<key>ProcessName</key>
		<string>configd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>48</string>
		<key>ProcessName</key>
		<string>aggregated</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>54</string>
		<key>ProcessName</key>
		<string>CommCenterClassi</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>55</string>
		<key>ProcessName</key>
		<string>BTServer</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>57</string>
		<key>ProcessName</key>
		<string>notifyd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>63</string>
		<key>ProcessName</key>
		<string>apsd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>90</string>
		<key>ProcessName</key>
		<string>iapd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>92</string>
		<key>ProcessName</key>
		<string>mediaserverd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>95</string>
		<key>ProcessName</key>
		<string>SpringBoard</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>124</string>
		<key>ProcessName</key>
		<string>installd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>129</string>
		<key>ProcessName</key>
		<string>itunesstored</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>134</string>
		<key>ProcessName</key>
		<string>vsassetd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>135</string>
		<key>ProcessName</key>
		<string>mobileassetd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>140</string>
		<key>ProcessName</key>
		<string>lockbot</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>141</string>
		<key>ProcessName</key>
		<string>notification_pro</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>142</string>
		<key>ProcessName</key>
		<string>syslog_relay</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>145</string>
		<key>ProcessName</key>
		<string>notification_pro</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>146</string>
		<key>ProcessName</key>
		<string>syslog_relay</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>149</string>
		<key>ProcessName</key>
		<string>syslog_relay</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>160</string>
		<key>ProcessName</key>
		<string>lsd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>162</string>
		<key>ProcessName</key>
		<string>securityd</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>172</string>
		<key>ProcessName</key>
		<string>springboardservi</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>175</string>
		<key>ProcessName</key>
		<string>amfid</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>183</string>
		<key>ProcessName</key>
		<string>debugserver</string>
	</dict>
	<dict>
		<key>ProcessID</key>
		<string>184</string>
		<key>ProcessName</key>
		<string>getProcess</string>
	</dict>
</array>
</plist>
